/* search */

#search{
    width: 100%;
    height: 130px;
}
#search-wrapper{
    /* float: left; */
    width: 1230px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
#search-wrapper>img{
    width: 240px;
    position: absolute; 
    top: 0;
    left: -31px;
}
#search-content{
    width: 625px;
    height: 50px;
    margin: 38px auto 0;
}
#search-main{
    width: 623px;
    height: 36px;
    border: 1px solid #ff0036;
}
#search-main>button{
    float: right;
    width: 132px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    border: none;
    background: #ff0036;
}
#search-main>input{
    width: 481px;
    height: 26px;
    padding: 5px;
    font-size: 16px;
    /* 设置input默认的选中样式 */
    outline: none;
    border: none;
}
#search-list{
    margin-top: 4px;
    margin-left: -5px;
    font-size: 14px;
}
#search-list>a{
    float: left;
    padding: 0 5px;
    border-right: 1px solid #999;
    color: #999;
}
#search-list>a:last-child{
    border-right: none;
}
#search-list .search-list-special{
    color: #ff0036;
}

/*  */
#type{
    width: 100%;
    height: 36px;
}
#type-wraper{
    width: 1230px;
    height: 36px;
    line-height: 36px;
    vertical-align: middle;
    margin: 0 auto;
    border-bottom: 1px solid #ff0036;
}
#type-wraper>a{
    float: left;
    padding: 0 8px;
    font-size: 16px;
    color: #333;
}
#type-wraper>a:first-child{
    margin-left: 230px;
}
#type-wraper img{
    width: 100px;
    height: 30px;
    margin-top: 3px;
    /* vertical-align: middle; */
}

/*  */

#container{
    width: 100%;
    height: 1000px;
    background: url('../images/bd.png') center -210px no-repeat;
}

#wrapper{
    width: 1230px;
    margin: 0 auto;
}

#slider{
    width: 100%;
    position: relative;
}
#menu{
    width: 200px;
    position: absolute;
    top: -36px;
}
#menu-title{
    /* width: 100%; */
    height: 36px;
    padding: 0 10px;
    line-height: 36px;
    color: #fff;
    background: #ff0036;
}
#menu-content{
    width: 100%;
    height: 500px;
    background: rgba(0,0,0,0.55);
}
.menu-list{
    padding: 0 14px;
    height: 31px;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
}
.menu-list > i{
    opacity: 0.55;
}
.menu-list:hover{
    background: #fff;
}
.menu-list>a{
    color: #fff;
}
.menu-list-red:hover,
.menu-list-red:hover>a{
    color: #ff0036
}
.menu-list-blue:hover,
.menu-list-blue:hover>a{
    color: #427def;
}
.menu-list-purple:hover,
.menu-list-purple:hover>a{
    color: #6347ed;
}
.menu-list-yellow:hover,
.menu-list-yellow:hover>a{
    color: #f7a831;
}
.menu-list-green:hover,
.menu-list-green:hover>a{
    color: #3bc7b0;
}
.menu-list:hover .menu-inner{
    display: block;
}
.menu-inner{
    display: none;
   width: 852px;
   height: 500px;
   position: absolute;
   top: 37px;
   left: 200px;
   background: #fff;
}
.menu-inner-left{
    float: left;
    width: 583px;
    height: 462px;
    margin: 19px 30px;
    background: #fff;
}

.menu-left-list .menu-left-title{
    font-size: 14px;
    color: #333;
}
.menu-left-list .menu-left-title:after{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    transform: rotate(-45deg);
    /* vertical-align: middle; */
    position: relative;
    top: -1px;
}
.menu-left-list>div{
    float:right;
    width: 473px;
    padding: 0 10px;
    border-bottom: 1px dashed #999;
}
.menu-left-list>div>a{
    margin-right: 13px;
    font-size: 14px;
    color: #666;
}
.menu-left-list>div>a.menu-left-list-special{
    color: #ff0036;
}
.menu-inner-right{
    float: right;
    width: 189px;
    height: 480px;
    padding: 10px;
    background: #fafafa;
}